// ==========================================================================
// Margin
// ==========================================================================

.margin {
  &-y {
    margin-left: 0;
    margin-right: 0;
  }

  &-x {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-nulled {
    margin: 0;
  }
}