// ==========================================================================
// Buttons
// ==========================================================================
$button-filled-bg: $color-dark !default;
$button-filled-color: $base-color-bg !default;
$button-primary-color: $color-lightest !default;
$button-primary-bg: $color-primary !default;
$button-secondary-color: $color-lightest !default;
$button-secondary-bg: $color-secondary !default;
$button-outlined-color: $color-dark !default;
$button-clear-color: $color-dark !default;

.button {
  display: inline-block;
  margin-bottom: rem(8px);
  padding: rem(8px);
  border: 2px solid $button-filled-bg;
  border-radius: 0;
  background-color: $button-filled-bg;
  color: $button-filled-color;
  text-decoration: none;
  text-transform: uppercase;
  font-size: inherit;
  transition: all 1s ease;

  &.button--primary {
    &:hover,
    &:focus,
    &:active {
      border-color: darken($button-primary-bg, 25%);
      background-color: darken($button-primary-bg, 10%);
      color: $button-primary-color;
    }
  }

  &.button--secondary {
    &:hover,
    &:focus,
    &:active {
      border-color: darken($button-secondary-bg, 25%);
      background-color: darken($button-secondary-bg, 10%);
      color: $button-secondary-color;
    }
  }

  &--block {
    width: 100%;
    text-align: center;
  }
}

.button--filled {
  &:hover,
  &:focus,
  &:active {
    border-color: darken($button-filled-bg, 25%);
    background-color: darken($button-filled-bg, 10%);
    color: $button-filled-color;
  }

  &.button--primary {
    border-color: $button-primary-bg;
    background-color: $button-primary-bg;
    color: $button-primary-color;
  }

  // Button Colors
  &.button--secondary {
    border-color: $button-secondary-bg;
    background-color: $button-secondary-bg;
    color: $button-secondary-color;
  }
}

.button--outlined {
  background-color: transparent;
  color: $button-outlined-color;

  &:hover,
  &:focus,
  &:active {
    border-color: darken($button-outlined-color, 25%);
    background-color: darken($button-outlined-color, 10%);
    color: $button-filled-color;
  }

  &.button--primary {
    border-color: $button-primary-bg;
    color: $button-primary-bg;
  }

  &.button--secondary {
    border-color: $button-secondary-bg;
    color: $button-secondary-bg;
  }
}

.button--clear {
  border-color: transparent;
  background-color: transparent;
  color: $button-clear-color;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $button-clear-color;
    color: $button-clear-color;
  }
}