.gallery {
    background-color: $bright-sun;
    padding: 0 0 4.5rem;
    &__grid {
        display: grid;
    }
    .grid-container {
        .grid--padding {
            padding: 0.8rem 1rem;
        }
        img {
            width: 100%;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
        }
    }
    .btn {
        margin: 4.5rem auto;
    }
    .title {
        font-size: $size-xxxxl;
    }
    .text {
        margin: 4rem auto ;
        text-align: center;
        width: 40rem;
        max-width: 90%;
    }
}
@include breakpoint-min(md) {
    .gallery {
        padding: 1rem;
        .grid-container {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }
        // .grid--padding {
        //     padding: 0.8rem 1rem;
        // }
        .grid1 { grid-area: 3/3/1/1; }
        .grid4 {
            img {
                height: 100%;
            }
        }
        .grid5 {
            height: 100%;
        }
    }
}
@include breakpoint-min(xl) {
    .gallery {
        padding: 1rem 0 7rem 0;
        .width-size{ max-width: 126rem;}
        .grid-container {
            display: grid;
            grid-template-columns: minmax(0, 27rem) minmax(0, 27rem) minmax(0, 17rem) minmax(0, 38rem);
            grid-column-gap: 3rem;
            grid-row-gap: 3rem;
            grid-template-rows: minmax(auto, 12.7rem) minmax(auto, 10rem) minmax(auto, 13.7rem) minmax(auto, 9.5rem) minmax(auto, 19rem) minmax(auto, 18rem);
            width: 117rem;
            margin: 0 auto;
            .grid--padding {
                padding: 0;
            }
            img {
                width: 100%;
                height: 100%;
            }
          }
          .grid1 { grid-area: 1 / 1 / 5 / 4; }
          .grid2 { grid-area: 5 / 1 / 7 / 3; }
          .grid3 { grid-area: 5 / 3 / 7 / 5; }
          .grid4 { grid-area: 3 / 4 / 5 / 5; }
          .grid5 { grid-area: 1 / 4 / 3 / 5; }
        .btn {
            margin: 5rem auto;
        }
        .title {
            font-size: $size-superxxl;
        }
        .text {
            max-width: 58rem;
            margin: 0 auto 4.5rem;
            text-align: center;
        }
    }
}