// ==========================================================================
// Blockquote
// ==========================================================================

blockquote {
  margin: rem(16px);
  padding: rem(16px);
  border-left: 4px solid $color-dark;
}

cite {
  font-style: italic;
}