// ==========================================================================
// Divider
// ==========================================================================

hr {
  display: block;
  margin: 0;
  height: 1;
  border: none;
  background-color: #000;
}